:root {
    --azul-escuro: #01303F;
    --azul: #1D5973;
    --azul-claro: #4B738C;
    --verde-escuro: #072823;
    --verde: #224B39;
    --verde-claro: #5E755C;
}

body {
    height: 100vh;
    background-color: black;
    background-image: url(imagens/wallpaper002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: justify;
}

main {
    background-color: white;
    border-radius: 10px;
    border: 2px solid black;
    max-width: 700px;
    padding: 10px;
    margin: auto;
}